<nav>
    <ul class="nav-list">
        <li>
         <% if user_signed_in? %>
            <%= form_with(url: destroy_user_session_path, method: :delete, local: false) do |form| %>
                <button type="submit" class="btn btn-outline btn-error">
                Logout
                </button>
        <% end %>
        <% else %>
            <%= link_to "Login", new_user_session_path, class: "btn btn-outline btn-primary" %>
        <% end %>

        </li>
    </ul>
</nav>
<div class="users-list">
  <% @users.each do |user| %>
    <div class="user-entry">
      <div class="user-image">
        <% if user.name == 'Lilly' %>
          <%= image_tag "default-profile-girl.jpg", alt: "Profile image" %>
        <% elsif user.name == 'Tom' %>
          <%= image_tag "default-profile-guy.jpg", alt: "Profile image" %>
        <% else %>
          <%= image_tag "default-no-image.png", alt: "Profile image" %>
        <% end %>
      </div>
      <div class="user-info">
        <%= link_to user.name, user_path(user), class: "user-name" %> 
        <span class="post-count">Number of posts: <%= user.posts.count %></span>
      </div>
    </div>
  <% end %>
</div>