<% if @user %>
  <div class="user-profile--header">
    <div class="profile-image--section">
      <% if @user.name == 'Lilly' %>
      <%= image_tag "default-profile-girl.jpg", alt: "Profile image", class: "profile-image" %>
    <% elsif @user.name == 'Tom' %>
      <%= image_tag "default-profile-guy.jpg", alt: "Profile image", class: "profile-image" %>
    <% else %>
      <%= image_tag "default-no-image.png", alt: "Profile image", class: "profile-image" %>
    <% end %>
  </div>
  <div class="user--details">
    <h1 class="user__name"><%= @user.name %></h1>
    <span class="post__count">Number of posts: <%= @posts.size %></span>
    </div>
  </div>
<% else %>
  <p>Showing all posts:</p>
<% end %>

<div class="posts--container">
  <% @posts.each_with_index do |post, index| %>
    <div class="post--entry">
      <h2><%= link_to "Post ##{index + 1}", user_post_path(post.author, post) %></h2>
      <p class="post--title"><%= link_to post.title, user_post_path(post.author, post) %></p>
      <p class="post--excerpt"><%= truncate(post.body, length: 100) %></p>
      <div class="post--details">
        <span>Comments: <%= post.comments.size %>, Likes: <%= post.likes.size %></span>
      </div>
      <div class="comments--preview">
        <% post.comments.last(5).each do |comment| %>
          <div class="comment">
            <span class="username"><%= comment.user.name %>:</span>
            <span class="comment--text"><%= truncate(comment.text, length: 50) %></span>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<% if @user && @posts.any? %>
  <div class="button-group">
    <%= link_to 'Create New Post', new_user_post_path(@user), class: "btn btn-primary" %>
    <%= link_to 'Go Back', user_path(@user), class: "btn btn-secondary" %>
  </div>
<% end %>
