<div class="single-post-container">
  <div class="post--header">
  <h1>Post #<%= @post.id %> : <%= @post.title %> by <%= @user.name %></h1>
    <% if current_user %>
      <div class="like-button">
        <%= button_to user_post_likes_path(@user, @post), method: :post do %>
          <i class="fas fa-thumbs-up"></i>
        <% end %>
      </div>
    <% end %>
    <div class="post--stats">
      <span>Comments: <%= @post.comments.count %>, Likes: <%= @post.likes_counter %></span>
    </div>
    <p><%= @post.body %></p>
  </div>

  <!-- Comments Section -->
  <div class="post--comments">
    <% @post.comments.each do |comment| %>
      <div class="comment">
        <strong><%= comment.user.name %>:</strong>
        <p><%= comment.text %></p>
      </div>
      <% if can? :destroy, comment %>
          <%= form_with(model: [ @user, @post, comment ],
                        url: user_post_comment_path(@user, @post, comment),
                        method: :delete,
                        local: true) do |form| %>
            <%= form.submit 'Delete', class: 'btn btn-outline' %>
          <% end %>
        <% end %>
    <% end %>
  </div>

  <div class="button-group2">
    <%= link_to 'Add Comment', new_user_post_comment_path(@user, @post), class: 'btn btn-primary2' %>
    <%= link_to 'Back to Posts', user_posts_path(@user), class: "btn btn-secondary2" %>
  </div>
</div>
<% if @previous_post.present? %>
    <div class="btn-post-container">
      <button class="btn-pagination">
        <%= link_to "Previous Post", user_post_path(@user, @previous_post) %>
      </button>
    </div>
  <% end %>
  <% if @next_post.present? %>
    <div class="btn-post-container">
      <button class="btn-pagination">
        <%= link_to "Next Post", user_post_path(@user, @next_post) %>
      </button>
    </div>
  <% end %>
  